<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Newtonsoft.Json" version="7.0.1" targetFramework="net40" />
  <package id="PayPal" version="1.8.0" targetFramework="net40" />
  <package id="PayPalCoreSDK" version="1.7.1" targetFramework="net40" />
  <package id="PayPalMerchantSDK" version="2.16.204" targetFramework="net40" />
</packages>