<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <section name="paypal" type="PayPal.Manager.SDKConfigHandler, PayPalCoreSDK" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <!--<add name="AddressService" connectionString="Data Source=(local);Initial Catalog=KoreProject_Prod;Integrated Security=True;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
    <add name="ApplicationServices" providerName="System.Data.SqlClient"  connectionString="Data Source=(local);Initial Catalog=KoreProject_Prod;Integrated Security=True;MultipleActiveResultSets=True" />-->
    <add name="ApplicationServices" connectionString="Data Source=184.168.194.78;Initial Catalog=A4PP_Phase_Dev2;User ID=A4PPUser;Password=Ktex758@" providerName="System.Data.SqlClient" />
    <add name="AddressService" connectionString="Data Source=184.168.194.78;Initial Catalog=A4PP_Phase_Dev2;User ID=A4PPUser;Password=Ktex758@" />
  </connectionStrings>
  <appSettings>
    <add key="SMTPServer" value="relay-hosting.secureserver.net" />
    <add key="SupportEmail" value="info@koreprojects.com" />
    <add key="AdminEmail" value="admin@koreprojects.com" />
    <add key="ErrorEmailFromServer" value="noreply@koreprojects.com" />
    <add key="USERPHOTOWIDTH" value="800" />
    <add key="USERPHOTOHEIGHT" value="600" />
    <add key="USERPERSONALWIDTH" value="110" />
    <add key="USERPERSONALHEIGHT" value="110" />
    <add key="LOGOHEIGHT" value="64" />
    <add key="ProjectPath" value="G:\PleskVhosts\koreprojects.com\httpdocs\" />
    <add key="ProjectURL" value="http://testk.koreprojects.com/" />
    <add key="TimeSheetURL" value="http://testk.koreprojects.com/" />
    <add key="HelpURL" value="http://koreprojects.com/helpconsole2010/Example%20Help%20System" />
    <add key="GST" value="15" />
    <add key="NumberOfDaysToArchive" value="7" />
    <add key="PublicTimeSlotConsumingUnit" value="2" />
    <add key="EBIZID" value="" />
    <add key="PromoCode_SignUp" value="SignupGift" />
  </appSettings>
  <paypal>
    <settings>
       <add name="mode" value="sandbox"/>
      <add name="clientId" value="AaYqKUrdODbu8a3a5Nkb9SSarAP6IVNEhNhvA_p616MSqAqCSVPXWuBFcHf51U985CilI77k6AxyEbnR"/>
      <add name="clientSecret" value="EGGYp7g8gEpWWTCu3CueAvdRkRsOnVtKPVgRPt2-ONW0hWycU0L3rAzFff2NiJubntyfT7dHngaSTU3O"/>
      <add name="connectionTimeout" value="360000" />
      <!-- The Sandbox API endpoint --><!--
      --><!--<add name="endpoint" value="https://api-3t.sandbox.paypal.com/nvp" />--><!--
      --><!-- The Live API endpoint--><!--
      <add name="endpoint" value="https://api-3t.paypal.com/nvp" />
      --><!-- Instant Payment Notification endpoint--><!--
      --><!--<add name="IPNEndpoint" value="https://www.sandbox.paypal.com/cgi-bin/webscr" />--><!--
      --><!--LocalTunnel Host Url--><!--
      <add name="IPNListenerUrl" value="https://paypalipntomato.pagekite.me/IPNListener.aspx" />
      --><!--Timeout--><!--
      <add name="connectionTimeout" value="360000" />
      --><!-- The number of times a request must be retried if the API endpoint is unresponsive --><!--
      <add name="requestRetries" value="3" />
      --><!-- IP address--><!--
      <add name="IPAddress" value="127.0.0.1" />
      --><!-- URL to which the buyer's browser is returned after choosing to pay with PayPal--><!--
      --><!--<add name="ReturnUrl" value="/Accounts/GetExpressCheckoutDetails.aspx" />--><!--
      <add name="ReturnUrl" value="/thankyou.aspx" />
      --><!-- URL to which the buyer is returned if the buyer does not approve the use of PayPal to pay you--><!--
      <add name="CancelUrl" value="/Accounts/Plans.aspx" />
      --><!-- A URL to your logo image. Use a valid graphics format, such as .gif, .jpg, or .png--><!--
      <add name="LogoUrl" value="/imgages/koreprojects-logo-sm.jpg.jpg" />
      --><!-- Merchant Email--><!--
      <add name="SellerEmail" value="stan@koreprojects.com" />
      --><!-- In-Context Express Checkout URLs for Sandbox. The user must be redirected to in order to login and approve some payment actions. --><!--
      --><!-- Sandbox URL--><!--
      --><!--<add name="RedirectUrl" value="https://www.sandbox.paypal.com/checkoutnow?token=" />--><!--
      --><!-- Live URL --><!--
      <add name="RedirectUrl" value="https://www.paypal.com/checkoutnow?token=" />
      --><!-- Express Checkout URLs for Sandbox. The user must be redirected to in order to login and approve some payment actions. --><!--
      --><!-- Sandbox URL--><!--
      --><!-- <add name="RedirectUrl" value="https://www.sandbox.paypal.com/cgi-bin/webscr?cmd=_express-checkout&token"/>--><!--
      --><!-- Live URL --><!--
      --><!-- <add name="RedirectUrl" value="https://www.paypal.com/cgi-bin/webscr?cmd=_express-checkout&token="/>--><!--
      --><!-- BN code to track all transactions--><!--
      <add name="SBN_CODE" value="PP-DemoPortal-EC-IC-csharp" />-->
    </settings>
    <accounts>
      <!-- Merchant username, password, signature -->
      <!--<account apiUsername="stan_api1.koreprojects.com" apiPassword="PTH2QJLQJTQZGQP7" applicationId="APP-80W284485P519543T" apiSignature="An5ns1Kso7MWUdW4ErQKJJJ4qi4-Af7yYcfaE8OeI0fGRW9dwvvMYO1U" />-->
      <!--<account apiUsername="supersandy_api1.gmail.com" apiPassword="1400525332" applicationId="APP-80W284485P519543T" apiSignature="AdUaGhfPganVo2IfGf2Ctordn94OASnvL6qF4D-pnHb6hEQCLBWKbzmq" />-->
      <!-- Uncomment the below configuration if you want to use certificate file instead of API Signature-->
      <!-- <account apiUsername="certuser_biz_api1.paypal.com" apiPassword="D6JNKKULHN3G5B8A" applicationId="APP-80W284485P519543T"
      apiCertificate="C:\PayPal_SDKs\sdk-core-dotnet\UnitTest\Resources\sdk-cert.p12" privateKeyPassword="password"/>-->
    </accounts>
  </paypal>
  <system.web>
    <webServices>
      <protocols>
        <add name="HttpGet" />
        <add name="HttpPost" />
      </protocols>
    </webServices>
    <customErrors mode="Off" />
    <compilation debug="true" strict="false" explicit="true" targetFramework="4.0">
      <!--<assemblies>
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Web.Extensions.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="Office, Version=12.0.0.0, Culture=neutral, PublicKeyToken=71E9BCE111E9429C"/>
      </assemblies>-->
      <assemblies>
        <add assembly="Newtonsoft.Json, Version=7.0.0.0, Culture=neutral, PublicKeyToken=30AD4FE6B2A6AEED" />
      </assemblies>
    </compilation>
    <!--<httpHandlers>
      <add verb="GET" path="CaptchaImage.axd" type="MSCaptcha.CaptchaImageHandler, MSCaptcha" />
    </httpHandlers>-->
    <authentication mode="Forms">
      <forms loginUrl="~/Login.aspx" timeout="2880" />
    </authentication>
    <membership>
      <providers>
        <clear />
        <add name="AspNetSqlMembershipProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="ApplicationServices" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" applicationName="/" />
      </providers>
    </membership>
    <profile>
      <providers>
        <clear />
        <add name="AspNetSqlProfileProvider" type="System.Web.Profile.SqlProfileProvider" connectionStringName="ApplicationServices" applicationName="/" />
      </providers>
    </profile>
    <roleManager enabled="false">
      <providers>
        <clear />
        <add name="AspNetSqlRoleProvider" type="System.Web.Security.SqlRoleProvider" connectionStringName="ApplicationServices" applicationName="/" />
        <add name="AspNetWindowsTokenRoleProvider" type="System.Web.Security.WindowsTokenRoleProvider" applicationName="/" />
      </providers>
    </roleManager>
    <urlMappings enabled="true">
      <add url="~/Signup" mappedUrl="~/Signup/default.aspx" />
    </urlMappings>
    <trust level="Full" />
  </system.web>
  <system.webServer>
    <!--<rewrite>
      <rules>
        <rule name="HTTP to HTTPS redirect" stopProcessing="true">
          <match url="(.*)" />
          <conditions>
            <add input="{HTTPS}" pattern="off" ignoreCase="true" />
          </conditions>
          <action type="Redirect" redirectType="Permanent" url="https://{HTTP_HOST}/{R:1}" />
        </rule>
      </rules>
    </rewrite>-->
    <validation validateIntegratedModeConfiguration="false" />
    <modules runAllManagedModulesForAllRequests="true" />
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="5242880" />
      </requestFiltering>
    </security>
    <handlers>
      <add name="MSCaptcha.captchaImageHandler" verb="GET" path="CaptchaImage.axd" type="MSCaptcha.captchaImageHandler, MSCaptcha" resourceType="Unspecified" />
    </handlers>
  </system.webServer>
  <system.net>
    <defaultProxy>
      <proxy usesystemdefault="False" />
    </defaultProxy>
  </system.net>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="IKVM.Runtime" publicKeyToken="13235d27fcbfff58" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.4335.0" newVersion="7.0.4335.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="PayPalCoreSDK" publicKeyToken="5b4afc1ccaef40fb" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.7.1.0" newVersion="1.7.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>